<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <div class="heading">
            <header>
                <h1>VESHICLES75</h1>
            </header>
        </div>

        <div class="traverse">
            <a href= "{{url_for('index_page')}}" method="GET">
            <input class="button" type="submit"  value="TO APP" name="" >
            </a>
        </div>
    </div>
</body>
</html>