<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vehicles75 My-App</title>
</head>
<body>
    <div class="container">
        <div class="title">
            <header>
                <h1>Vehicles75</h1>
            </header>
        </div>

        <div class="traverse-car-app">
            <a href= "{{url_for('car_app')}}" method="GET">
            <input class="button" type="submit"  value="Car App" name="" >
            </a>
        </div>

    </div>
</body>
</html>